name: windows-labview-image-gate

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  windows-labview-image-gate:
    name: Windows LabVIEW Image Gate
    uses: ./.github/workflows/_windows-labview-image-gate-core.yml
    secrets: inherit
